.scp_border {
    border: 1px solid black;
}

.scp_border_right {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid black;
}

.scp_border_top {
    border-top: 1px solid black;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.scp_main {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 800px;
    height: 800px;
    border: 1px solid black;
}

.scp_table_main {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 800px;
    height: 800px;
    border-spacing: 0px;
}

.scp_xaxis_table_desc {
    position: fixed;
    top: 740px;
    left: 60px;
    width: 720px;
    height: 60px;
    border-spacing: 0px;
}

.scp_yaxis_table_desc {
    position: fixed;
    top: 20px;
    left: 0px;
    width: 60px;
    height: 720px;
    border-spacing: 0px;
}

.scp_xaxis_top_padding {
    height: 20px;
}

.scp_xaxis_bottom_padding {
    height: 60px;
}

.scp_yaxis_left_padding {
    width: 60px;
}

.scp_yaxis_right_padding {
    width: 20px;
}

.scp_table_col_padding {
    width: 60px;
}

.scp_xaxis_label {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.scp_yaxis_label {
    margin-left: 5px;
    writing-mode: sideways-lr;
    font-size: 20px;
    font-weight: bold;
}

.scp_ruler_marks {
    font-size: 10px;
    font-weight: normal;
    color: gray;
}

.scp_x_p0 {
    position: fixed;
    top: 745px;
    height: 10px;
    left: 40px;
    width: 40px;
    text-align: center;
}

.scp_x_p1 {
    position: fixed;
    top: 745px;
    height: 10px;
    left: 184px;
    width: 40px;
    text-align: center;
}

.scp_x_p2 {
    position: fixed;
    top: 745px;
    height: 10px;
    left: 328px;
    width: 40px;
    text-align: center;
}

.scp_x_p3 {
    position: fixed;
    top: 745px;
    height: 10px;
    left: 472px;
    width: 40px;
    text-align: center;
}

.scp_x_p4 {
    position: fixed;
    top: 745px;
    height: 10px;
    left: 616px;
    width: 40px;
    text-align: center;
}

.scp_x_p5 {
    position: fixed;
    top: 745px;
    height: 10px;
    left: 760px;
    width: 40px;
    text-align: center;
}

.scp_y_p1 {
    position: fixed;
    top: 15px;
    height: 10px;
    left: 20px;
    width: 40px;
    text-align: right;
}

.scp_y_p2 {
    position: fixed;
    top: 159px;
    height: 10px;
    left: 20px;
    width: 40px;
    text-align: right;
}

.scp_y_p3 {
    position: fixed;
    top: 303px;
    height: 10px;
    left: 20px;
    width: 40px;
    text-align: right;
}

.scp_y_p4 {
    position: fixed;
    top: 447px;
    height: 10px;
    left: 20px;
    width: 40px;
    text-align: right;
}

.scp_y_p5 {
    position: fixed;
    top: 591px;
    height: 10px;
    left: 20px;
    width: 40px;
    text-align: right;
}

.scp_top {
    vertical-align: top;
}